<!DOCTYPE HTML>
<title>Sonne WebGlobalPage</title>
<html>
<head>
    <!DOCTYPE HTML>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta char="UTF-8">
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<h1>Sonne WebGlobalPage</h1>
	<nav>
		<ul class="navbar1">
		  <li class="navbar2"><a class="active navbar3" href="/">Home</a></li>
		  <li class="navbar2"><a class="navbar3" href="about" >About</a></li>
		</ul>
	</nav>


    

    {% block content %}
    <p>Enter your message in the field below:</p>
    
    <form action="/handle_data" method="POST">
        <input type="text" name="message">
        <input type="submit" value="Send">
    </form>

    <h1>Messages:</h1>
    <div id="chat-container">
        {% for message in messages %}
            <div class="message">{{ message }}</div>
        {% endfor %}
    </div>

    <script>
        function refreshChat() {
            fetch('/get_messages')
            .then(response => response.json())
            .then(data => {
                let chatBox = document.getElementById('chat-container');
                chatBox.innerHTML = data.map(msg => `<div class="message">${msg}</div>`).join('');
            })
            .catch(error => console.error('Errore:', error));
        }

        setInterval(refreshChat, 2000); // Aggiorna ogni 5 secondi
        refreshChat(); // Carica subito i messaggi al caricamento della pagina
    </script>

    {% endblock %}
</head>
